{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>자율주행버스 예약서비스</title>
    <meta charset="UTF-8">
</head>
 
<body>
{% include "./top.html" %}

	<div class="contents">
        <div style="margin:0; padding:0; width:1147px; height:360px; background-image:url('{% static 'img/main_image7.png' %}');"></div>
        <div style="margin-top:15px;">
            <a href="/intro/" style="float:left; margin-left:-5px;"><img src="{% static 'img/main_button41.png' %}"/></a>
            <a href="/selfcar"><img src="{% static 'img/main_button51.png' %}" align="left"/></a>
            <a href="/selfcar/selfcar_insert"><img src="{% static 'img/main_button61.png' %}" align="left"/></a>
            <a href="/selfcar/selfcar_comf"><img src="{% static 'img/main_button71.png' %}" align="left"/></a>
        </div>
        <div><img src="{% static 'img/main_foot.png' %}"/></div>

    </div>

</body>
</html>